.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  /* overflow-x: hidden; */
}

.containerServiceSection {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-inline-start: 1rem;
  /* padding-right: 1rem; */
}

.serviceCont {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pictureBoxRtl {
  transform: rotateY(0deg);
}

.landingHeaderHeight{
  min-height:100vh
}

.aboutSectionLeftColBg{
    
}

.parentCircle{
  margin:0 auto;
  padding:10%;
  width: 100%;
  height:auto
}

.parentCircle div{
  padding:15%;
}

.recentArticleBox >div.pictureBox {
  order:1
}

.recentArticleBox >div.textBox{
  order:2
}

.recentArticleBox:nth-child(even) >div.pictureBox {
  /* background: red; */
  order:1;
  transform: rotateY(0deg)
}

.recentArticleBox:nth-child(even) >div.textBox{
  order:2
}

.camma{
  background: url('/img/commatwo.png') no-repeat;
  background-size: 30%;
  background-position-y: 10%;
  /* transform:rotateY(180deg) */
}


@media (min-width: 640px) {
  .container {
    /* max-width: 640px; */
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .containerServiceSection {
    /* max-width: 640px; */
    padding-inline-start: 2rem;
    /* padding-right: 2rem; */
  }
  .serviceCont {
    max-width: 640px;
  }
  .parentCircle{
    width: 636px;
    height:636px
  }


  .recentArticleBox >div.pictureBox {
    order:1
  }

  .recentArticleBox >div.textBox{
      order:2
  }


  .recentArticleBox:nth-child(even) >div.pictureBox {
      /* background: red; */
      order:2;
      transform: rotateY(180deg)
  }

  .recentArticleBox:nth-child(even) >div.textBox{
      order:1
  }

  .camma{
    /* background: url('/img/commatwo.png') no-repeat; */
    background-size: 35%;
    /* background-position-y: 10%; */
    transform:rotateY(0deg)

  }

}
@media (min-width: 768px) {
  .container {
    /* max-width: 768px; */
  }
  .containerServiceSection {
    /* max-width: 768px; */
  }
  .serviceCont {
    max-width: 768px;
  }
  .pictureBoxRtl {
    transform: rotateY(180deg);
  }
  .aboutSectionLeftColBg{
    background-image: url('/landing/aboutSectionGandomLogo.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40%;
  }
  .parentCircle{
    width: 764px;
    height:764px
  }
}
@media (min-width: 1024px) {
  .container {
    /* max-width: 1024px; */
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .containerServiceSection {
    /* max-width: 1024px; */
    padding-inline-start: 4rem;
    /* padding-right: 4rem; */
  }
  .serviceCont {
    max-width: 1024px;
  }
  .pictureBoxRtl {
    transform: rotateY(180deg);
  }
  .landingHeaderHeight{
    min-height:600px
  }
  /* .aboutSectionLeftColBg{
    background-image: url('/landing/aboutSectionGandomLogo.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 45%;
   } */
   .parentCircle{
    width: 1020px;
    height:1020px
  }
}
@media (min-width: 1280px) {
  .container {
    /* max-width: 1280px; */
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .containerServiceSection {
    /* max-width: 1280px; */
    padding-inline-start: 6rem;
    /* padding-right: 5rem; */
  }
  .serviceCont {
    max-width: 1280px;
  }
  .pictureBoxRtl {
    transform: rotateY(180deg);
  }
  .landingHeaderHeight{
    height:600px
  }
  /* .aboutSectionLeftColBg{
    background-image: url('/landing/aboutSectionGandomLogo.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 50%;
  } */
  .parentCircle{
    width: 1276px;
    height:1276px
  }
}
@media (min-width: 1536px) {
  .container {
    /* max-width: 1536px; */
  }
  .containerServiceSection {
    /* max-width: 1536px; */
  }
  .serviceCont {
    max-width: 1536px;
  }
  .pictureBoxRtl {
    transform: rotateY(180deg);
  }
  .landingHeaderHeight{
    height:700px
  }
  /* .aboutSectionLeftColBg{
    background-image: url('/landing/aboutSectionGandomLogo.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 55%;
  } */
  .parentCircle{
    width: 1530px;
    height:1530px
  }
}
@media (min-width: 1792px) {
  .container {
    /* max-width: 1792px; */
  }
  .containerServiceSection {
    /* max-width: 1792px; */
  }
  .serviceCont {
    max-width: 1792px;
  }
  .pictureBoxRtl {
    transform: rotateY(180deg);
  }
  .landingHeaderHeight{
    height:700px
  }
  /* .aboutSectionLeftColBg{
    background-image: url('/landing/aboutSectionGandomLogo.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 60%;
  } */
  .parentCircle{
    width: 1788px;
    height:1788px
  }
}
@media (min-width: 2048px) {
  .container {
    /* max-width: 2048px; */
  }
  .containerServiceSection {
    /* max-width: 2048px; */
  }
  .serviceCont {
    max-width: 2048px;
  }
  .pictureBoxRtl {
    transform: rotateY(180deg);
  }
  .landingHeaderHeight{
    height:700px
  }
  /* .aboutSectionLeftColBg{
    background-image: url('/landing/aboutSectionGandomLogo.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 65%;
  } */
  .parentCircle{
    width: 2044px;
    height:2044px
  }
}
@media (min-width: 2304px) {
  .container {
    /* max-width: 2304px; */
  }
  .containerServiceSection {
    max-width: 2304px;
  }
  .serviceCont {
    max-width: 2304px;
  }
  .pictureBoxRtl {
    transform: rotateY(180deg);
  }
  .landingHeaderHeight{
    height:800px
  }
  .parentCircle{
    width: 2300px;
    height:2300px
  }
}
