.cardBoxHover:hover div{
    background-color: #ffd101;
    color:#212121
} 
.gridItem >div{
    transition: all 0.2s ease;
    opacity:0;
  visibility: hidden ; 
}
.gridItem:hover >div{
    opacity:1;
  visibility: visible ;
}

.modalBoxContainerBg >div:nth-of-type(1) {
  background-color: linear-gradient(135deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) !important;
  -webkit-backdrop-filter: blur(21px) !important;
  backdrop-filter: blur(21px) !important;
}




